---
layout: default
title: Home
---
<style>
body {
  background-image: url('public/logo_mda-net.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 25% 25%;
  background-position: 100% 20%;
}
</style>

<div class="container">
  <p>
  
  Discrete and algorithmic mathematics is an area that studies combinatorial and discrete structures, in particular graphs and networks, finite geometries, discrete geometric structures and combinatorial aspects in algebra and number theory. 
  It includes their computational and algorithmic aspects arising from the particularly natural connection of discrete mathematics with computer science. 
  With tools coming from analysis, topology, algebra, geometry and probability and a wide range of applications in computer science, information theory, coding theory, statistics, physics, biology and social sciences, discrete mathematics is a genuine interdisciplinary area both within mathematics and in connection with science and technology as a whole.
  </p>
  <p>
    The main goal of this Network is to foster cooperation among the existing groups in the area in Spain, reinforcing their scientific collaboration,  coordinating scientific activities and training of young researchers and increase the international visibility of the Spanish research in Discrete Mathematics. 
    It will reinforce the participation of female researchers and promote outreach activities for the social awareness of science and technology with particular focus on Discrete Mathematics.
  </p>
</div>


<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
