  
<footer>
 <div class="row" style="display: table;  padding:0 25px 0 0px;  float: right;  ">
    <div class="column" style="float:left"> 
    <img src="/public/logo_mda-net.svg" height="50" alt="mda-logo" >
    </div>
    
    <div class="column" style="float: left; margin-left: 80px;> 
      <h4 style="display: inline; padding-right: 30px;">RED2022-134947-T financiada por la Agencia Estatal de Investigación</h4>
    </div>
    <div class="column" style="float:left; margin-left: 80px;"> 
      <img src="/public/logo_gobierno.svg" height="50" alt="gobierno-logo" >
    </div>
    <div class="column" style="float: left;">
      <img src="/public/logo_aei.svg" height="50" alt="aei-logo" >
    </div>
    <div class="column" style="float: left;">
      <img src="/public/planderecuperacion.svg" height="50" alt="aei-logo">
    </div>
  </div>

</footer>
